.topbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 0.8rem 4rem;
    background-color: var(--light-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: var(--secondary-color);
}

.topbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.topbar .logo {
    font-size: 1rem;
    font-weight: bold;
    color: var(--primary-color);
}

.search-bar {
    flex: 1;
    max-width: 700px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.search-bar:has(.search-input:focus) {
    outline: 2px solid var(--secondary-color);
}

.search-input {
    padding: 8px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    width: 100%;
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: width 0.3s ease;
}

.search-input::placeholder {
  color: var(--gray-color);
}

.search-input:hover {
    background-color: var(--gray-light-color);
}

.search-input:focus {
    outline: none;
}

.search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 100%;
    padding: 8px;
    background-color: var(--secondary-color);
    border-radius: 0 10px 10px 0; /* rounded right side */
    cursor: pointer;
}

.notifications {
    position: relative;
}

.notification-icon {
    font-size: 24px;
    color: var(--primary-color);
    cursor: pointer;
}

.notification-count {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -12px;
    right: -6px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    font-size: 10px;
}

@media (max-width: 768px) {
    .topbar {
        padding: 0.8rem 1rem;
    }

    .logo {
        font-size: 0.8rem;
    }

    .search-bar {
        display: none;
    }
}