.invite-users {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    top: 50vh;
    left: 50vw;
    z-index: 1000;
    transform: translate(-50%, -50%);
    background-color: var(--gray-color);
    filter: blur(100%);
}