.to-do-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1rem;
    min-height: fit-content;
    padding: 1rem;
    height: 100%;
    border-radius: 14px;
    box-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.07), /* bottom */
        0 -2px 8px 0 rgba(0, 0, 0, 0.07), /* top */
        2px 0 8px 0 rgba(0, 0, 0, 0.07), /* right */
        -2px 0 8px 0 rgba(0, 0, 0, 0.07); /* left */

}

.to-do-list-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--primary-color);
    background-color: var(--light-color);
    border-radius: 14px 14px 0 0;
}

.to-do-list-header-title, .add-task {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.to-do-list-header > a {
    margin-left: auto;
}

.add-task {
    cursor: pointer;
    color: var(--gray-color);
    font-size: 12px;
    font-weight: 500;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-task:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.sorted-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.loading-task, .error-loading {
    color: var(--gray-color);
    text-align: center;
    margin: 5rem 0;
}

.default-msg {
    color: var(--gray-color);
    text-align: center;
    margin: 5rem 0;
}