@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
  --primary-color: #1e293b;      /* Deep Slate (main text / headers) */
  --secondary-color: #334155;    /* Darker neutral for sidebar / nav */
  --dark-color: #0f172a;         /* Almost black, for strong contrast */
  --light-color: #f8fafc;        /* Soft light background */
  --accent-color: #6366f1;       /* Indigo (main brand accent) */
  --gray-color: #64748b;         /* Neutral gray text */
  --gray-light-color: #cbd5e1;   /* Light gray border */
  --gray-lighter-color: #f1f5f9; /* Background panels */
  --red-color: #ef4444;          /* Soft red for errors / high priority */
  --orange-color: #f97316;       /* Warm orange for moderate priority */
  --green-color: #22c55e;        /* Calm green for success / completed */
  --blue-color: #3b82f6;         /* Bright blue for in-progress */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html, body {
    scroll-behavior: smooth;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    background-color: var(--light-color);
    color: var(--dark-color);
    line-height: 1.6;
}

main {
    display: flex;
    gap: 2rem;
    margin-right: 4rem;
    margin-top: auto;
    /* height: 80vh; */
}

aside{
  padding: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
}

li {
    list-style-type: none;
    list-style-position: inside;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    transition: all 0.3s ease;
}

a:hover {
    color: var(--secondary-color);
}

.container{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    height: 100%;
    border-radius: 10px;
    /* height: 80vh; */
}

.container > h1 {
    margin-top: 0.5rem;
}

.content {
    display: flex;
    margin-bottom: 1rem;
    flex: 1;
    gap: 1rem;
    scrollbar-width: none;
}

@media (max-width: 768px) {
    main {
        margin-right: 0;
        margin-top: 0;
        min-height: calc(100vh - 4rem);
    }
    .container > h1 {
        font-size: 1.2rem;
        padding: 1rem 1rem 0;
    }
    .content {
        flex-direction: column;
        padding: 0 1rem;
    }
}