.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-height: 100vh;
    width: 100%;
    font-weight: 300;
    background-color: var(--primary-color);
    color: var(--light-color);
}



.login-container {
    display: flex;
    height: auto;
    border-radius: 14px;
    box-shadow:
        0 2px 8px 0 rgba(0, 0, 0, 0.04), /* bottom */
        0 -2px 8px 0 rgba(0, 0, 0, 0.04), /* top */
        2px 0 8px 0 rgba(0, 0, 0, 0.04), /* right */
        -2px 0 8px 0 rgba(0, 0, 0, 0.04); /* left */
}

.login-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--light-color);
    color: var(--primary-color);
    padding: 1rem;
    border-radius: 8px;
    width: 50vw;
}

.login-form > h1, .login-form > p, .login-form > h2 {
    text-align: center;
}

.login-form > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    gap: 5px;
}

.login-form > p::after {
    content: "";
    display: block;
    width: 5rem;
    border: 1px solid var(--primary-color);
}

.login-form > h2 {
    font-size: 1.2rem;
}

.error-message {
    color: var(--red-color);
    font-size: 0.6rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.error-message::before {
    content: "⚠ ";
}

#user-email {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 0.7rem;
    border-radius: 8px;
    border: 1px solid var(--gray-light-color);
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: width 0.3s ease;
}

.login-form input[type="submit"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 0.7rem;
    border-radius: 8px;
    border: 1px solid var(--gray-light-color);
    background-color: var(--primary-color);
    color: var(--light-color);
    transition: width 0.3s ease;
    cursor: pointer;
}

.login-form input[type="submit"]:hover {
    background-color: var(--secondary-color);
    color: var(--light-color);
}

.login-form input::placeholder {
  color: var(--gray-color);
}

#user-email:hover {
    background-color: var(--gray-light-color);
}

#user-email:focus {    
    outline: 1px solid var(--secondary-color);
}

.login-form label {
    font-size: 0.7rem;
}

.password-input-container {
    display: flex;
    width: 100%;
    margin: 10px 0;
    font-size: 0.7rem;
    border-radius: 8px;
    border: 1px solid var(--gray-light-color);
    background-color: var(--light-color);
    color: var(--dark-color);
    transition: width 0.3s ease;
}

.password-input-container:hover {
    background-color: var(--gray-light-color);
}

#user-password {
    display: block;
    width: 100%;
    font-size: 0.7rem;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: transparent;
    color: var(--dark-color);
}

#user-password:focus {    
    outline: none;
}

.password-label-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.password-label-container > a {
    font-size: 0.7rem;
}

.password-label-container > a:hover {
    text-decoration: underline;
}

.password-visibility {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: var(--gray-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.5rem;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.5rem 0;
    font-size: 0.7rem;
    color: var(--gray-color);
}

.divider::before, .divider::after {
    display: block;
    content: "";
    flex: 1;
    border-bottom: 1px solid var(--gray-color);
}

.divider > span {
    padding: 0 1rem;
}

.google-sign-in {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--light-color);
    color: var(--dark-color);
    border: 1px solid var(--gray-light-color);
    padding: 10px;
    width: 100%;
    font-size: 0.7rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.google-sign-in:hover {
    background-color: var(--gray-light-color);
}

label[for="stay_signed_in"] {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: fit-content;
    cursor: pointer;
}

#stay_signed_in {
    display: inline-block;
    width: auto;
}

.call-to-sign-up {
    font-size: 0.7rem;
}

.call-to-sign-up a {
    margin-left: 5px;
    text-decoration: underline;
    cursor: pointer;
}

.login-image {
    border-radius: 14px;
    flex: 1;
    padding: 2rem;
}

.login-image img {
    width: 100%;
    height: 100%;
}

.terms-and-conditions {
    font-size: 0.7rem;
}

.terms-and-conditions a {
    text-decoration: underline;
    color: var(--light-color);
}

@media (max-width: 768px) {
    .login {
        position: absolute;
        padding: 0 1.5rem;
    }
    .login-container {
        width: 100%;
    }
    .login-form {
        border-radius: 14px;
        padding: 1.5rem;
    }
    .login-image {
        display: none;
    }
    .terms-and-conditions {
        text-align: center;
        margin: 0 3.5rem;
    }
}